<!DOCTYPE html>
<html>
<head>
    <meta name = "viewport" content = "width=device-width, minimum-scale=1">
    <meta http-equiv = "X-UA-Compatible" content = "ie=edge">
    <title>Project Courses | IIT Gandhinagar</title>
    <meta name = "author" content = "Reuben Devanesan | Aditya Shekhar">
    <meta name = "description" value = "Website for Project Courses">
    <link rel = "icon" href = "/images/file.png">
    <!--Bootstrap-->
    <link rel = "stylesheet" href = "https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel = "stylesheet" href = "https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel = "stylesheet" href = "/css/index.css">
</head>
<body>
    <!--Navbar-->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">Project Courses</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto mr-5 mt-2 mt-lg-0">
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="#">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#"><b>Login</b></a>
                </li>
                </ul>
            </div>
        </div>
    </nav>

    <!--Heading-->
    <div class="container-fluid mt-5">
        <div class="heading display-3 text-center">PROJECT COURSES</div>
        <hr>
    </div>

    <!--Project Cards-->
    <br>
    <div class = "container">
        <div class = "row justify-content-around">
            <% database.forEach(function(project){ %>
                <div class = "card col-md-3">
                    <div class = "card-body">
                        <h5 class = "card-title"><%= project.Projecttopic %></h5>
                        <h6 class = "card-subtitle mb-2 text-muted"><%= project.Supername %></h6>
                        <hr>
                        <p class = "card-text">
                            Student Name: <%= project.Name %>
                            <br>
                            Branch: <%= project.Branch %>
                            <br>
                            Project Course Code: <%= project.PCC %>
                        </p>
                        <a href = "#" class = "btn btn-primary">Know More</a>
                    </div>
                </div>
            <% }); %>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>